body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 


/*公共*/
.fl{ float:left}
.fr{ float:right}
.clearfix:after{ display:block; content:''; clear:both;} 
.clearfix {zoom:1; }
.blank10{ height:10px; line-height:1px; font-size:1px; clear:both; overflow:hidden;}

/*火狐自适应高度*/
.clearff { clear: both;}
/*换行*/
.brhh br {display: none;}
.wrap { width:1200px; margin:0 auto;clear:both;}
/*IE6双倍间距*/
.doublejj{display:inline;}
/*其他*/
em,i,cite{ font-style:normal}
.fontw{ font-weight:bold}
input{outline:none} 

/*头部*/
.head{ height:80px; background:#555f90; position:relative}
.head:after{ height:50px; content:''; width:100%; background:#cdd4f6;position:absolute;top:80px;right: 0;z-index:-1}

.yx_logo{ height:80px; background:#38447f; display:inline-block; padding:0 23px;clear:both;display:table-cell;vertical-align:middle;}
.yx_logo img{ vertical-align:middle}

/*左侧菜单*/
.yx_left_menu{ width:300px; background:#98a8f0; border-right:1px #cdd4f6 solid; padding:30px 0;}

/*退出*/
.yx_left_menu a {color:#fff;}
.yx_left_menu a:hover { color:#555f90; }

/*用记信息*/
.yx_tcdl{ text-align:center; font-size:14px; color:#fff;}
.yx_photo{ width:100px; height:100px;-webkit-border-radius:25em;-moz-border-radius:25em;border-radius:25em; background:#fff; margin:22px auto 20px auto;}
.yx_photo img{ width:100px; height:100px;-webkit-border-radius:25em;-moz-border-radius:25em;border-radius:25em;}
.yx_name{ font-size:18px; font-family:"黑体"; color:#fff; text-align:center}

/*菜单内容*/
.yx_menu_nr{ width:280px;margin:0 auto; margin-top:50px;}
.yx_menu_nr li{ height:70px;line-height:70px;}
.yx_menu_nr li span{display:inline-block; padding:0 23px 0 23px;}
.yx_menu_nr li span img{ line-height:70px; vertical-align:middle}
.yx_gaoliang{height:70px;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px; background:#b4beee}

/*左侧菜单*/
.yx_right_menu{width:888px; padding-top:59px; border-right:1px #cdd4f6 solid}
/*购买信息*/
.yx_gmxx{ width:336px; height:376px; background:#eeeff4; padding:12px; font-size:14px; color:#333333}
.yx_gmxx dl{ margin:10px 0; line-height:24px;}
.yx_gmxx dl dt{ float:left;border:1px #eeeff4 solid; padding-right:8px;}
/*上传视频*/
.yx_scsp{ width:508px; height:398px;border:1px #eeeff4 solid; margin-left:10px;}
.yx_scsp_bt{ height:40px; background:#eeeff4; line-height:40px; padding-left:10px;font-size:18px; font-family:"黑体"; color:#333333}
.yx_djsc{ height:328px; }
/*上传部分*/
.csh_img{ display:block; margin:0 auto;padding:63px 0 30px 0;}

.sp_sc_an{width:180px; height:40px;line-height:40px; margin: 0 auto; overflow: hidden;opacity: 0;}
.djscsp{width:180px; height:40px; line-height:40px; text-align:center; background:#9babf5;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px; border:0px; color:#fff; display:block;margin: 0 auto; margin-top:-40px;}
.yx_spgssm{ font-size:14px; color:#b2b2b2; text-align:center; padding-top:24px;}
/*上传进度页*/
.yx_scjdxq{background:#fff;width:598px; height:248px;border:1px #8e9cde solid; }
.yx_wjsc_bt{ height:49px; line-height:49px; color:#fff; background:#838fca;font-size:18px; font-family:"黑体"; padding:0 20px;}

.shangcjdt{}
.wjsc_bt{ text-align:center; padding-top:40px;}
.jdt_xqing{width:480px; margin:0 auto; margin-top:38px; color:#999; font-size:14px;}

/*进度条*/
.jdtiao{ position: relative; height:45px;}
.jindguzhi{width:30px; height:22px;background:url(../images/jdzhi.png); text-align:center; display:inline-block;color:#fff; font-size:14px; font-family:"宋体"; text-align:center; position: absolute;top: 0px; left:0px}
.jdt_bj{ width:480px; height:5px;background:url(../images/sc_jdt.png) repeat-x;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px; position: absolute;top: 28px; left: 0px; z-index:1px }
.jdt_bfb{width:0px; height:5px; background:#838fca;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px;  position: absolute;top: 28px; left: 0px; z-index:5px  }
.wjxianqing{ clear: both; }

/*弹出定位*/
#resultBox{position:absolute; top:50%; left:50%;margin:-125px 0 0 -300px; z-index:10;width:598px; height:248px; display: none }
.quxiaosc{position:absolute; top: 12px; right: 20px; z-index: 10; display:inline-block; width: 20px; height: 20px;}


/*版权声明*/
.yx_banqsm{ height:32px; line-height:32px; background:#f2f2f2; color:#666666; font-size:14px;}
.yx_banqsm a {color:#666666;}
.yx_banqsm a:hover { color:#000; }
.yx_banqsm span{ width:100%; text-align:center; display:inline-block;}

/*知识产权上传*/
.yx_zscqsc{ width:878px; border:1px #eeeff4 solid; clear:both; }
/* 知识产权  列表 */
.cqtplb{ padding:25px 0px; height:150px;}
.cqslt{ width:200px; float:left; padding:10px 6px;}
/* 知识产权  图片 */
.cqslt_img{ position:relative}
.del_img{ height:20px; line-height:20px; background:#000; color:#fff; position:absolute; bottom:0px; left:0px; display:block; width:100%; font-size:14px; text-align:center;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7; opacity: 0.7;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
.cqslt_img img{ width:200px; height:130px;}
/* 知识产权  名称 */
.cqslt_nmae{ text-align:center;width:100%; display:block;color:#333; font-size:14px; line-height: 30px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* 点击添加 */
.djtjcq{width:200px; height:130px; background:#e6e6e6; text-align:center; line-height:130px;}
.djtjcq img{ vertical-align:middle}

/*提交产权*/
.yx_tjcqzl{ text-align:center; padding:30px 0px}
.yx_tjcqzl button{ margin:0 73px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none; }
.yx_tjcq{background:url(../images/tjcq.png);}
.yx_qxcq{background:url(../images/qxcq.png);}


/*提示框*/
.yx_tctskuan,.syy_tctskuan{background:#fff;width:598px; height:248px;border:1px #8e9cde solid;position:fixed; top:50%; left:50%;margin:-125px 0 0 -300px; z-index:15; display:none;}
.yx_tctskuan_bt,.syy_tctskuan_bt{ height:49px; line-height:49px; color:#fff; background:#838fca;font-size:18px; font-family:"黑体"; padding:0 20px;}
.scttsk_nr,.syy_scttsk_nr{ text-align:center;font-size:18px;color:#333333; padding-top:40px;}
.yx_tctskuan_an{ text-align:center; padding:32px 0px}
.yx_tctskuan_an button{ margin:0 25px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none;  }
.yx_tjcq{background:url(../images/tjcq.png);}
.yx_qxcq{background:url(../images/qxcq.png);}
.syy_tctskuan_an{ text-align:center; padding:32px 0px}
.syy_tctskuan_an button{ margin:0 auto; display:inline-block;  background:url(../images/tjcq.png); width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none;  }


/*视频播放*/
.shipingbofang{height:328px; display:none}
.bdspingmc{ text-align:center; font-size:16px;padding:20px 0;}
.shiping{ width:480px; height:255px; margin-top:15px;margin:0 auto; position:relative}
.shiping_zs{ width:480px; height:255px; }
.del_sp,.del_upimg{ position:absolute; top:-20px; right:0px;}
.ycspnr span{ display:none}


/*当前状态*/
.sy_curr_status{ padding: 10px; background: #eeeff4; margin-bottom: 20px;}
.sy_curr_status .status{ font-size: 16px; color: #333;}
.sy_curr_status .status span{ color: #fff; padding:1px 5px;font-size: 14px;}
.sy_curr_status .status .bbh{background: #ec7173;}
.sy_curr_status .status .dss{background: #f7c164;}
.sy_curr_status .status .dtt{background: #66c7e9;}
.sy_curr_status .status .tfz{background: #60e98f;}
.sy_curr_status .status .wsz{background: #969795;}
.sy_curr_status .reson{ color: #808080; font-size: 14px; padding: 10px 0; text-indent: 2em;}
/*知识产权弹框*/
.clearfix:after{ display:block; content:''; clear:both;} 
.clearfix {zoom:1; }
.sy_upimg_panel{ width: 1000px; display: none; min-height: 500px; background: #fff; border: 1px solid #8e9cde; position: absolute; z-index:11;}
.sy_upimg_panel .title{ height:49px; line-height:49px; color:#fff; background:#838fca;font-size:18px;  padding:0 20px;}
.sy_upimg_con{ padding: 10px;}

.sy_up_input{ margin: 20px 0; overflow:hidden;}
.sy_upload-p{ float: right; padding: 5px; color:#fff; font-size: 14px; background: #d5a64b; position: relative;}
.Upload-imginput{ position: absolute; width: 180px; height: 40px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);}

.sy_upimg_list{ height: 358px; overflow-y: scroll;}
.sy_upimg_list li{ padding:10px 20px; width: 200px; float: left;}
.sy_upimg_list li img{ width: 200px; height: 130px;}
.sy_upimg_list li p{ width:200px; line-height: 25px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; text-align: center;}

/*上传图片*/
.yx_djsc{ position: relative;}
.sy_upimg_position{width: 100%; height: 328px; background: #fff; display: none;}
.sy_upimg_position .img-p{ width: 480px;height: 240px;margin: 15px auto;position: relative;}
.sy_upimg_position .img-posit{width: 480px;height: 240px;}

.multiline-spillover{text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 7;-webkit-box-orient: vertical; overflow: hidden;}
/*版权声明弹框*/
.sy_copyright-declarate{ width: 1000px; height: auto; background: #e5e8e3; border: 1px solid #c003; position: absolute; #display:none;}



/*#######################  上传历史查看  ###################*

/*将此广告资料复制至新订单中*/
.yx_fuzhi_ad{ text-align:center; padding:30px 0px;}
.yx_fuzhi_ad button{ margin:0 78px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none;background:url(../images/tjcq.png); }
.yx_copy_zl{float:left; width:230px; height:60px; line-height:60px; text-align:center;font-size:16px; font-family:"黑体"; color:#fff; background:#838fca; margin:0 78px; cursor:pointer}

/*投放历史订单展示*/
.yx_tfls_ddzs{ width:998px; height:498px; border:1px #8e9cde solid; background:#fff; position:absolute; top:50%; left:50%; margin-top:-250px; margin-left:-500px; z-index:100; display:none;}
.yx_tfls_ddzs_bt{ height:49px; line-height:49px;background:#8e9cde; padding:0px 20px; font-size:18px; color:#fff; }
*+html .yx_tfls_ddzs_bt .close img{margin-top:10px;}
.yx_dqdd_lb { margin-top:0px; height:340px;overflow-x: hidden; 
overflow-y: scroll;  
scrollbar-face-color: #D4D4D4;
scrollbar-hightlight-color: #ffffff;  
scrollbar-shadow-color: #919192;  
scrollbar-3dlight-color: #ffffff;  
scrollbar-arrow-color: #919192;   
scrollbar-track-color: #ffffff; 
scrollbar-darkshadow-color: #ffffff; margin-bottom:10px;}
.yx_dqdd_lb table{ width:100%;color:#666666;text-align:center;border-collapse:collapse;font-size:12px;table-layout: fixed; }
.yx_dqdd_lb table td{border-bottom:1px solid #eeeff4;height:40px; padding:0px 10px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.YX_tflb a {color:#000;}
.YX_tflb a:hover { color:#8895d3; }
/*投放历史 表格 标题 */
.yx_tfls_ddzs table tr.yx_tfls_bg_bt{ background:#eeeff4}
.yx_tfls_ddzs table tr.yx_tfls_bg_bt td{border-right:1px solid #fff;}
/*投放历史 表格 确定 */
.yx_choice_dqdd_qd{ text-align:center; padding:0px;padding-left:100px;}
.yx_choice_dqdd_qd button{ margin:0 73px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none; }
.yx_choice_tjcq{background:url(../images/tjcq.png);}
.yx_choice_qxcq{background:url(../images/qxcq.png);}

.bdspingmc input{ padding:0 10px; text-align: center; width: 80%;}

.yx_qxcq_cliked{background: url(../images/tjcq.png);}
.btn_goback{ margin: 0 auto;background: url(../images/tjcq.png); float: none !important;}

/*取消提示框*/
.sy_tctskuan{background:#fff;width:598px; height:248px;border:1px #8e9cde solid;position:absolute; z-index:15; display:none;}
.sy_tctskuan_bt{ height:49px; line-height:49px; color:#fff; background:#838fca;font-size:18px; font-family:"黑体"; padding:0 20px;}
.sy_scttsk_nr{ text-align:center;font-size:18px;color:#333333; padding-top:40px;}
.sy_tctskuan_an{ text-align:center; padding:32px 0px}
.sy_tctskuan_an button{ margin:0 25px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none;  }
.sy_tjcq{background:url(../images/tjcq.png);}
.sy_qxcq{background:url(../images/qxcq.png);}

/*上传成功提示*/
.yx_sccg_ts{ width:600px; height:280px; border:1px #8e9cde solid; background:#fff; position:absolute; top:50%; left:50%; margin-top:-140px; margin-left:-300px; z-index:100; display:none;}
.yx_sccg_ts_bt{ height:49px; line-height:49px;background:#8e9cde; padding:0px 20px; font-size:18px; color:#fff; }

.yx_tjdd_nr{text-align: center; height:120px;line-height:120px}
.yx_tjdd_nr p{display: none}
/*上传成功提示 确定 */
.yx_csccg_qd{ text-align:center; padding:0px;padding-left:100px;}
.yx_csccg_qd button{ margin:0 73px; float:left; width:230px; height:60px;font-size:24px; font-family:"黑体"; color:#fff; border:none; background:url(../images/tjcq.png);}

/*loading   等待加载*/

.yx_loading{ height:326px;width:505px;display: none;position: relative;}
.yx_loading p{position: absolute;top:0;left: 0;bottom: 0;right: 0;margin:auto;width:100px; height:100px;}
.yx_loading span{ display:block}
.yx_loading p img{width:80px; height:80px;}
