body{background: #f0f0f0;}
input{font-size: 12px}
.shop_info{margin-top: 4%;}
.shop_info li{padding-top: 14px;padding-bottom: 14px;    margin-bottom: 1px;background: #fff;padding-left: 2%; padding-right: 2%;overflow: hidden;font-size: 14px;}
.shop_info b{float: left;width:30% ;font-weight: normal;}
.shop_info span{float: right;width: 70%;text-align: left;color: #999999;}
.submission{position: fixed; background: #f86908; font-size: 16px; bottom: 0; color: #fff; width: 100%; text-align: center; padding-top: 16px; padding-bottom: 16px;}
.shop_info input{width: 100%;}
.next_step{width: 88%; height: 42px;margin: 0 auto; margin-top: 20px; display: block; border-radius: 42px; border: 0; background: -webkit-linear-gradient(left, #FFCE34 , #FFAB34); background: -o-linear-gradient(right, #FFCE34, #FFAB34); background: -moz-linear-gradient(right, #FFCE34, #FFAB34); background: linear-gradient(to right, #FFCE34 , #FFAB34);font-size: 16px;}
.shop_info .yanzhenma{position: absolute; top: 20%; right: 2%; width: auto; color: #fff; background: #ffab34; padding: 6px 4%; font-size: 12px; border-radius: 4px;}
.apply_status img{width: 100%;}
.shop_info .no_yanzhe{color: #333; background: transparent;}
.apply_status{position: relative;height: 35px;}
.personal_status {position: absolute;top: 0;left: 0;width: 100%;overflow: hidden;font-size: 12px;text-align: center;height: 35px; line-height: 35px;}
.not_status{color: #fff;}
/* 店铺申请状态图 */
.personal_status span{background-size: 100% 100%;float: left;}
.yellow_black{background: url(../img/yellow_black.png) no-repeat; width: 35%;background-color: #323232;}
.black_white{background: url(../img/black_white.png) no-repeat; width: 33%;background-color: #323232;}
.yellows_white{background: url(../img/yellows_white.png) no-repeat;width: 35%;background-color: #ffab34;}
.blacks_status{background: url(../img/blacks.png) no-repeat; width: 32%;}
.yellows_status{background: url(../img/yellows.png) no-repeat;width: 32%;}
.status_stp2{width: 33%;}
/* 区号选择 */
.area_sel{display: none;}
.per_info_mobi{width: 66% !important;}
.area_selection{color: #333; }
.area_sel_ul{background: #F0F0F0;}
.area_sel_ul li{padding: 4%;padding-bottom: 0;margin-bottom: 1px;background: #fff;overflow: hidden;}
.area_label{margin-bottom: 4%; display: inline-block;width: 100%;}
.area_sel_input{float: right;}
.area_val{margin-left: 4%;margin-right: 4%;}
.area_sel{position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100%; width: 100%; background: rgba(0,0,0,.3);}
.area_sel_box{position: relative;width: 84%; height: 130px; background: #fff; margin: 0 auto; margin-top: 58%; border-radius: 10px; overflow: hidden;}
.btns_p{text-align: center;position: absolute;bottom: 0;width: 100%;}
.cancel_btn,.confirm_btn{width: 50%; height: 40px; border: 0;font-size: 16px;}
.cancel_btn{background: #CCCCCC;color: #FFFFFF;}
.confirm_btn{background: #ffab34; color: #333333;}
/* 上传图片 */
.img_up_ul b{width: 50%;}
.img_up_ul span{width: 49%;text-align: right;}
.img_up_ul img{width: 37%;}
.tips_con{color: #999999;    font-size: 12px;}
/*#shop_box,#up_img{display: none;}*/
/* 时间选择 */
.business-open,.business-close{padding: 0;}
/* 寫字樓 */
.sure_box{margin-top: 80px;}
.screen_info{margin-top: 4%;}
.sure_btn{position: fixed;bottom: 0;width: 100%; height: 42px; display: block;  border: 0; background: -webkit-linear-gradient(left, #FFCE34 , #FFAB34); background: -o-linear-gradient(right, #FFCE34, #FFAB34); background: -moz-linear-gradient(right, #FFCE34, #FFAB34); background: linear-gradient(to right, #FFCE34 , #FFAB34);font-size: 16px;}
.mark_tt{border-left: 4px #ffab34 solid; padding-left: 8px;font-weight: bold !important;}
.right_arrow{color: #999999}
.chang_btn{width: 100%;    border-radius: 0;position: fixed; bottom: 0;}
.rad{width: 16% !important;}