/*1px底部边框*/
.btmbdr{position: relative}
.btmbdr:after{height: 1px;content: '';width: 100%;border-bottom: 1px solid #ddd;position:absolute;bottom: 1px;right: 0;z-index: 10}

/*记录详情内容*/
.sy-feedback{padding: 10px 4% 0;}
.yx_jlxq_nr{line-height:20px; background: #e6e6e6; color: #333; width:92%; margin:0 auto;padding: 10px 4%;}
/*记录详情*/
.yx_sqjl_xq{ margin-top:10px;}
.yx_sqjl_xq dl{ border-bottom:1px #e6e6e6 solid; height: 35px; line-height: 35px;}
.yx_sqjl_xq dt{ float:left; width:28%;}
.yx_sqjl_xq dl dt.yx_ywlxr{line-height:18px !important;}

/*记录详情 地址*/
.yx_az_address{height: 70px;border-bottom:1px #e6e6e6 solid;}
.yx_az_address span{float:left;width:28%;height: 70px; line-height: 70px;}
.dzxq{height:70px;display: table-cell;vertical-align: middle;}







