.sy-newunchecked{padding: 10px 4% 0;}
.sy-newunchecked .title{ height: 35px; line-height: 35px; text-align: center; background: #e6e6e6; color: #333;}
.sy-newunchecked .content { padding-top: 10px;}
.sy-newunchecked .content table{width:100%;border-collapse:collapse; font-size: 14px;}
.sy-newunchecked .content table td{line-height: 25px; padding: 15px 0 5px 0; border-bottom: 1px solid #f2f2f2;}
.sy-newunchecked .content table td:last-child{ color: #808080; width: 70%;}
/*上传图片*/
.sy-newuploadimg{ padding: 30px 0 75px;}
.sy-newuploadimg .tit{ color: #808080; font-size: 14px; text-align: center; padding: 5px 0;}
.sy-new-list{ padding: 7px 0; overflow: hidden;}
.sy-new-list .upload{ width: 43.5%; border: 1px solid #e6e6e6; position: relative; float: left;}
.sy-new-list .upload .imgspace{ width: 100%; height:auto; overflow: hidden;}
.sy-new-list .upload .addimg{ width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.sy-new-list .upload .Upload-imginput{width: 100%;height: 100%;position: absolute;left: 0;top: 0;opacity: 0;}
.sy-new-list .upload .loadimg{ background: #fff; display: none; width: 50px; height: 50px; position: absolute; left: 50%; top: 50%; margin-left: -25px;margin-top: -25px;}
.sy-new-list .detail{ width: 50%; float: right;}
.sy-new-list .detail .number{ color: #333; font-size: 14px;}
.sy-new-list .detail .sy_gg_scan{border-bottom: 1px solid #333; position: relative;}
.sy-new-list .detail textarea{ border: none; color:#333;resize:none; width:65%; padding: 5px 0;box-sizing: border-box;}
.sy-new-list .detail .sy_gg_scan .scaning{ display: inline-block; background:#ea9061; text-align: center; color: #fff; position: absolute; right: 0; bottom:1px; border-radius:5px; width: 32%; padding: 3px 0;}

.sy-new-list .detail .tip{ text-align: center; padding: 10px 0; color: #e32929;visibility: hidden;}
.sy-new-list .detail .scan-code{ text-align: center; padding-top: 5px;}
.sy-new-list .detail .scan-code a{ background: #6378f5; color: #fff; padding:2px 5px;}

.sy-newinstalled{ position: fixed; left:50%; bottom:30px; margin-left:-25%; width: 50%; height: 44px; border: none; background: #ed8102; color: #fff; font-size: 18px;}
.sy-installed-ts{ width: 40%; height: 30px; line-height: 30px; text-align: center; background: rgba(0,0,0,0.3); color: #fff; position: fixed;
left: 50%; top: 50%; margin-left: -20%; margin-top: -15px; border-radius:5px; font-size: 14px; display: none;}

/*未通过原因*/
.sy_wtgyy{ line-height: 23px; padding: 30px 5px 10px; display: none;}
.sy_wtgyy cite{ color: #c03; font-style: normal;}